---
import AboutSection from "@/components/section/about-section.astro";
import HobbiesSection from "@/components/section/hobbies-section.astro";
import SkillsSection from "@/components/section/skills-section.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/globals.css";
---

<Layout title="My Profile - Portfolio">
  <main class="min-h-screen">
    <AboutSection />
    <SkillsSection />
    <HobbiesSection />
  </main>
</Layout>
