---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/section/hero-section.astro";
import AboutLightSection from "../components/section/about-light-section.astro";
import ProjectsSection from "../components/section/projects-section.astro";
import "../styles/globals.css";
---

<Layout title="Portfolio">
  <main class="min-h-screen">
    <HeroSection />
    <AboutLightSection />
    <ProjectsSection />
  </main>
</Layout>
